body{font-family: 'Montserrat', sans-serif;}
h1, p{
    text-align: center;
    
} 
p{color: gray}
a{
    text-decoration: none;
    color: black;
}
td{
    width: 150px;
    height: 150px;
}
table :hover{
    border: 1px solid black;
    border-collapse: collapse;
}